/*================================================================================================================================*/
/*============================================---------- MAIN SECTION -----------===================================================*/
/*================================================================================================================================*/

body {
    text-align: center;
    font-family: "Goudy Bookletter 1911";
    background-color: rgb(21, 21, 21);
    letter-spacing: 2px;
    margin: auto;
}

#container {
    width: 100%;
    height: auto;
    margin: auto;
}

.clicker {
    position: absolute;
}

.clickable_large {
    position: absolute;
    width: 90%;
    height: auto;
    top: 0;
    left: 0;
    margin-left: 4em;
}
#img_container_2 {
    margin: auto;
}

.gallery_pics:hover,
#x_div:hover {
    cursor: pointer;
}

.main_headers {
    font-family: "madlove2regular";
    font-size: 5em;
    color: rgb(173, 129, 86);
    font-weight: 200;
    margin: auto;
}

.side_headers {
    font-family: "madlove2regular";
    font-size: 4em;
    color: rgb(173, 129, 86);
    font-weight: 200;
    margin: auto;
    padding-top: 0.5em;
}

#gallery_container {
    width: 100%;
    height: auto;
    margin: auto;
}

#img_container {
    height: auto;
    width: 100%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.big_pics {
    width: 375px;
    height: 300px;
    margin: auto;
}

.thin_pics {
    width: 175px;
    height: 300px;
    margin: auto;
}

.gallery_pics {
    height: 250px;
}

.thumbnail_pics {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

.small_text {
    font-family: "Goudy Bookletter 1911";
    font-size: 1em;
    color: rgb(225, 213, 186);
}

.big_text {
    font-family: "madlove2regular";
    font-size: 2.2em;
    font-weight: 200;
    color: rgb(173, 129, 86);
}

#x_div {
    width: auto;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 1em;
    margin-right: -0.5em;
}

#xxx {
    width: 30%;
}

/*================================================================================================================================*/
/*============================================---------- SECTION ONE -----------===================================================*/
/*================================================================================================================================*/
#one {
    position: relative;
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
}

#one_img_div {
    width: 55%;
    height: auto;
    margin-right: auto;
    padding: 1em;
    grid-column-start: 1;
    grid-column-end: 2;
}

#one_img {
    width: 100%;
    height: auto;
}

#one_menu_div {
    margin-left: auto;
    width: 100%;
    height: auto;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
}

#one_menu {
    list-style-type: none;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto;
    margin-left: -2.5em;
}

.one_menu {
    font-size: 1.25em;
    letter-spacing: 2px;
    width: auto;
    height: auto;
    margin-right: 3em;
    margin-top: 1.5em;
}

#one_menu_first {
    grid-column-start: 1;
    grid-column-end: 1;
}

#one_menu_second {
    grid-column-start: 2;
    grid-column-end: 2;
}

#one_menu_third {
    grid-column-start: 3;
    grid-column-end: 3;
}

#one_menu_third .one_menu_a {
    color: rgb(173, 129, 86);
}

#one_menu_fourth {
    grid-column-start: 4;
    grid-column-end: 4;
}

.one_menu_a {
    color: rgb(225, 213, 186);
    text-decoration: none;
}
.one_menu_a:hover {
    color: rgb(173, 129, 86);
}

/*===============================================================================================================================*/
/*============================================---------- SECTION TWO ----- ========================================================*/
/*================================================================================================================================*/
#two {
    position: relative;
    width: 100%;
    height: auto;
    background-color: rgb(173, 129, 86);
}

#two_contacts_div {
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: auto auto 0.5% auto auto;
}

.two_contacts {
    letter-spacing: 2.5px;
    word-spacing: 2px;
    font-weight: 100;
}

#address {
    font-size: 1em;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: right;
    color: black;
    padding: 0.5em;
}

#phone {
    grid-column-start: 4;
    grid-column-end: 4;
    text-align: left;
    color: black;
}

#phone a {
    color: black;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 0.95em;
}
/*===============================================================================================================================*/
/*========================================----------- SECTION SEVEN ------------===================================================*/
/*===============================================================================================================================*/
#seven {
    display: grid;
    grid-template-rows: 3em 2em 1em;
    grid-template-columns: 2em 12em 15em 20em;
    width: 100%;
    background-color: rgb(22, 22, 22);
}

#seven_text {
    color: rgb(225, 213, 186);
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    text-align: right;
    padding-top: 0.75em;
    padding-right: 0.75em;
}

#seven_socials_div {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: 5em 1em 5em;
}

#seven_facebook_a {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
}

#seven_instagram_a {
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 3;
}
.klaviyo-form-RBSHP6 {
    background-color: rgb(22, 22, 22);
    grid-column-start: 5;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 2;
}
/*================================================================================================================================*/
/*============================================---------- MOBILE SECTION -----------===================================================*/
/*================================================================================================================================*/
@media all and (max-width: 1200px) {
    .gallery_pics {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
    #been_clicked {
        z-index: 0;
    }
    #x_div {
        z-index: 10;
    }
    #img_container {
        width: 100%;
    }
    .clickable_large {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0;
        margin: auto;
    }
    #one {
        position: relative;
        width: 100%;
        grid-template-rows: auto;
        grid-template-columns: 75% 25%;
        background-color: rgb(21, 21, 21);
    }

    #one_img_div {
        grid-column-start: 1;
        grid-column-end: 2;
        width: 100%;
        height: auto;
        text-align: left;
        margin-left: 1.5em;
        padding: 1.25em;
    }

    #one_img {
        width: 50%;
        height: auto;
    }

    #one_menu_div {
        width: 30%;
        height: 100%;
        text-align: right;
        margin-right: 1.5em;
        grid-column-start: 2;
        grid-column-end: 2;
        padding: 1.5em;
    }

    #one_menu_div:hover {
        cursor: pointer;
    }

    #one_menu {
        width: auto;
    }

    #one_menu_img {
        height: auto;
        width: 100%;
    }
    #seven {
        display: grid;
        grid-template-rows: 8em 2em 5em;
        grid-template-columns: auto;
    }
    #seven_socials_div {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 1;
        grid-column-end: 1;
        margin: auto;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto 4em 3em 4em auto;
    }
    #seven_instagram_a {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 4;
        grid-column-end: 5;
    }
    #seven_instagram {
        width: 100%;
        height: auto;
        margin: auto;
    }
    #seven_facebook_a {
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #seven_facebook {
        width: 100%;
        height: auto;
        margin: auto;
    }
    #seven_text {
        grid-row-start: 2;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        margin: auto;
        text-align: bottom;
        letter-spacing: 1px;
        font-size: 1.1em;
    }
    .klaviyo-form-RBSHP6 {
        width: 65%;
        margin: auto;
        grid-row-start: 3;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 1;
    }
    /*//////////////////////////////////////////////////////MOBILE MENU///////////////////////////////////////////////////*/
    .clicker {
        position: absolute;
    }

    #container {
        width: 100%;
        height: 100%;
    }

    .mobile_menu a {
        font-size: 2em;
        font-weight: 100;
        letter-spacing: 5px;
        text-decoration: none;
        color: black;
        margin: auto;
    }

    #closer_div {
        position: absolute;
        z-index: 10;
        height: auto;
        right: 0;
        top: 0;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

    #closer {
        width: 40%;
        margin: auto;
        margin-right: -1.25em;
    }

    #closer:hover {
        cursor: pointer;
    }

    #divvest {
        text-align: center;
        margin: auto;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: auto;
    }

    #mobile_menu {
        width: 100%;
        height: auto;
        margin: auto;
    }

    #mobile_about {
        width: 100%;
        height: auto;
        margin: auto;
    }

    #mobile_gallery {
        width: 100%;
        height: auto;
        margin: auto;
    }

    #mobile_contact {
        width: 100%;
        height: auto;
        margin: auto;
    }
}
@media all and (max-width: 900px) {
    #address {
        font-size: 0.75em;
    }
    #phone {
        font-size: 0.75em;
        padding-top: 0.5em;
    }
    .two_contacts {
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    .gallery_pics {
        padding-top: 0.25em;
        padding-bottom: 0.25em;
    }
    #img_container {
        width: 500px;
    }
}

@media all and (max-width: 700px) {
    #two_contacts_div {
        font-size: 0.75em;
    }
    .big_pics {
        width: 300px;
        height: auto;
    }
    .gallery_pics {
        padding-top: 0.15em;
        padding-bottom: 0.15em;
        margin: auto;
    }
    #img_container {
        width: 100%;
        margin: auto;
    }

    #one_img_div {
        width: 65%;
        margin-left: -0.25em;
    }
    #one_img {
        width: 100%;
    }

    #one_menu_div {
        margin-right: 0.75em;
    }
    .thumbnail_pics {
        padding: 0%;
    }
}
