#body {
    background-color: rgb(21, 21, 21);
    text-align: center;
    font-family: "Goudy Bookletter 1911";
}

#container {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(21, 21, 21);
    text-align: center;
}

/*========================================================================================================================================*/
/*============================================---------- SECTION ONE -----------=========================================================*/
/*========================================================================================================================================*/
#one {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-rows: 7.5em;
    grid-template-columns: 3% 60% 7% 10% auto 3%;
    background-color: rgb(21, 21, 21);
}

#one_img_div {
        grid-column-start: 2;
        grid-column-end: 3;
        width: 100%;
    height: auto;
    margin: auto;
}

#one_img {
    width: 90%;
    height: auto;
}

#one_menu_div {
    width: 100%;
    height: 100%;
    text-align: right;
    grid-column-start: 5;
    grid-column-end: 5;
    padding-top: 1em;
}

#one_menu {
    width: auto;
}

#one_menu_img {
    width: auto;
}
/*========================================================================================================================================*/
/*============================================---------- SECTION TWO ------------=========================================================*/
/*========================================================================================================================================*/
#two {
    position: relative;
    width: auto;
    height: auto;
    background-color: rgb(173, 129, 86);
}

#two_contacts_div {
    width: auto;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 70% 30%;
}

.two_contacts {
    letter-spacing: 3x;
    word-spacing: 3px;
    font-weight: 100;
}

#address {
    font-size: 1em;
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: right;
    margin-right: 0;
}

#phone {
    font-size: 1em;
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: left;
    padding-left: 0.5em;
}

#phone a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    word-spacing: -1px;
}

/*========================================================================================================================================*/
/*============================================---------- SECTION THREE -----------=========================================================*/
/*========================================================================================================================================*/
#three {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: auto 56% auto;
    grid-template-columns: auto 24.4% auto;
    background-color: rgb(173, 129, 86);
    padding-bottom: 0.25em;
}

#three_img_div {
    height: auto;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

#three_img {
    height: auto;
    width: 100%;
}

#three_img_small_div {
    height: 100%;
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

#three_img_small {
    height: 100%;
    width: 100%;
}

/*========================================================================================================================================*/
/*============================================---------- SECTION FOUR ------------=========================================================*/
/*========================================================================================================================================*/

#four {
    width: auto;
    height: auto;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 5% 90% 5%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(21, 21, 21);
    padding-top: 2em;
    padding-bottom: 1em;
}

#four_h1 {
    color: rgb(173, 129, 86);
    text-align: center;
    font-family: "madlove2regular";
    font-weight: 300;
    font-size: 4em;
    margin: auto;
    width: 80%;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

#four_text_box_div {
    width: 100%;
    height: auto;
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}
#four_text {
    color: rgb(225, 213, 186);
    font-size: 1.6em;
    letter-spacing: 2px;
    word-spacing: 3px;
    font-weight: 100;
    font-family: "Goudy Bookletter 1911";
}

#four_time_div {
    width: 100%;
    height: auto;
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto 40% 40% auto;
    grid-template-rows: 32% 32%;
}

#four_weekdays_div {
}

#four_weekdays {
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(173, 129, 86);
    font-size: 1.3em;
    font-family: "Goudy Bookletter 1911";
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: right;
    margin-right: 0.5em;
}

#four_weekdays_time {
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(225, 213, 186);
    font-size: 1.1em;
    font-family: "Goudy Bookletter 1911";
    grid-column-start: 3;
    grid-column-end: 3;
    text-align: left;
    margin-left: 0.5em;
}

#four_weekends_div {
}

#four_weekends {
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(173, 129, 86);
    font-size: 1.3em;
    font-family: "Goudy Bookletter 1911";
    grid-column-start: 2;
    grid-column-end: 2;
    text-align: right;
    margin-right: 0.5em;
}

#four_weekends_time {
    letter-spacing: 2px;
    word-spacing: 2px;
    color: rgb(225, 213, 186);
    font-size: 1.1em;
    font-family: "Goudy Bookletter 1911";
    grid-column-start: 3;
    grid-column-end: 3;
    width: 100%;
    text-align: left;
    margin-left: 0.5em;
}
/*========================================================================================================================================*/
/*============================================---------- SECTION FIVE -----------=========================================================*/
/*========================================================================================================================================*/
#five {
    background-color: rgb(173, 129, 86);
    text-align: center;
    display: grid;

    width: 100%;
}
#five_img_div {
    width: 100%;
    height: 100%;
}

#five_img {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 0.35em;
}

#five_text_div {
    height: auto;
    display: grid;
    grid-template-rows: auto;
    width: 85%;
    margin: auto;
}

#five_h1 {
    font-size: 4em;
    font-family: "madlove2regular";
    font-weight: 300;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    margin: auto;
    padding-top: 1em;
}

#five_p {
    font-size: 1.2em;
    grid-row-start: 2;
    grid-row-end: 2;
    color: rgb(225, 213, 186);
    font-weight: 500;
    word-spacing: 4px;
    letter-spacing: 4px;
    padding-bottom: 1em;
}

#five_h4_div {
    width: 100%;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-bottom: 3em;
}

#five_h4 {
    width: 55%;
    margin: auto;
    word-spacing: 2px;
    letter-spacing: 2px;
    border: solid 2px rgb(225, 213, 186);
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: top;
    font-size: 1.1em;
    font-weight: 500;
}
/*========================================================================================================================================*/
/*============================================---------- SECTION SIX -------------=========================================================*/
/*========================================================================================================================================*/
#six {
    background-color: rgb(173, 129, 86);
    text-align: center;
    display: grid;

    width: 100%;
}
#six_img_div {
    width: 100%;
    height: 100%;
}

#six_img {
    width: 100%;
    height: 100%;
    position: relative;
}

#six_text_div {
    height: auto;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
}

#six_h1 {
    font-size: 4em;
    font-family: "madlove2regular";
    font-weight: 300;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 100%;
    margin: auto;
    padding-top: 1em;
}

#six_p {
    font-size: 1.2em;
    grid-row-start: 2;
    grid-row-end: 2;
    color: rgb(225, 213, 186);
    font-weight: 500;
    word-spacing: 4px;
    letter-spacing: 4px;
    padding-bottom: 1em;
}

#six_h4_div {
    width: 100%;
    grid-row-start: 3;
    grid-row-end: 3;
    margin-bottom: 3em;
}

#six_h4 {
    width: 55%;
    margin: auto;
    word-spacing: 2px;
    letter-spacing: 2px;
    border: solid 2px rgb(225, 213, 186);
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    text-align: top;
    font-size: 1.1em;
    font-weight: 500;
}
.side_anchors {
    text-decoration: none;
    color: black;
    width: 100%;
}
/*========================================================================================================================================*/
/*============================================----------- SECTION SEVEN ------------=========================================================*/
/*========================================================================================================================================*/
#seven {
    width: 100%;
}

#seven_socials_div {
    background-color: rgb(22, 22, 22);
}

#seven_facebook_a {
    text-align: right;
    margin: auto;
    width: 100%;
}

#seven_instagram_a {
    text-align: left;
    margin: auto;
    width: 100%;
}

#seven_facebook {
    width: 17%;
    padding: 2em;
}

#seven_instagram {
    width: 17%;
    padding: 2em;
}

#seven_text {
    color: rgb(225, 213, 186);
    background-color: rgb(22, 22, 22);
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: -0.5em;
    font-size: 1.2em;
}
/*========================================================================================================================================*/
/*============================================-----------MAILING LIST------------=========================================================*/
/*========================================================================================================================================*/

#newsletter_div_2 {
    background-color: rgb(22, 22, 22);
    padding-bottom: 1em;
}
#newsletter_div {
    background-color: rgb(173, 129, 86);
    padding-top: 0.35em;
}

.klaviyo-form-RBSHP6 {
    background-color: rgb(22, 22, 22);
    width: 65%;
    margin: auto;
}

/*========================================================================================================================================*/
/*========================================-----------MEDIA QUERY: MOBILE------------======================================================*/
/*========================================================================================================================================*/
@media all and (max-width: 500px) {
    #one {
        grid-template-columns: 5% 20% auto 25% 15% 20% 5%;
        width: auto;
    }

    #one_img_div {
        grid-column-start: 2;
        grid-column-end: 5;
        width: 100%;
        height: auto;
    }

    #one_img {
        width: 100%;
        height: auto;
        margin: auto;
    }

    #one_menu_div {
        width: 100%;
        height: 100%;
        text-align: right;
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 6;
        grid-column-end: 6;
        padding-top: 1.25em;
    }

    #address {
        font-size: 0.75em;
    }

    #phone {
        font-size: 0.75em;
    }
}
/*========================================================================================================================================*/
/*========================================----------- MENU------------======================================================*/
/*========================================================================================================================================*/

.clicker {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 3% 30% 62% 5%;
    grid-template-columns: auto 60% auto;
}

#container {
    margin: auto;
    width: 100%;
    height: auto;
}

.mobile_menu a {
    width: 100%;
    height: 100%;
    font-size: 2em;
    font-weight: 100;
    letter-spacing: 5px;
    text-decoration: none;
    color: black;
    margin: auto;
}

#closer_div {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    padding-right: 2em;
}

#closer {
    font-size: 2.5em;
    color: rgb(225, 213, 186);
    font-family: "sans-serif";
    font-weight: 100;
}

#closer:hover {
    cursor: pointer;
}

#divvest {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
    display: grid;
    grid-template-columns: auto 90% auto;
    grid-template-rows: 25% 25% 25% 25%;
    text-align: center;
    margin: auto;
}

#mobile_menu {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

#mobile_about {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

#mobile_gallery {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 2;
}

#mobile_contact {
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 2;
}
