body {
    text-align: center;
    background-color: rgb(21, 21, 21);
    letter-spacing: 4px;
    margin: auto;
}

.side_headers {
    font-family: "madlove2regular";
    font-size: 5em;
    color: rgb(173, 129, 86);
    font-weight: 200;
    margin: auto;
}

#gallery_container {
    width: 75%;
    height: 100%;
    margin: auto;
}

.img_container {
    height: auto;
    width: 100%;
}

.gallery_pics {
    width: 15%;
    padding: 1em;
}

.small_text {
    font-family: "Goudy Bookletter 1911";
    font-size: 1em;
    color: rgb(225, 213, 186);
}

.big_text {
    font-family: "madlove2regular";
    font-size: 2.2em;
    font-weight: 200;
    color: rgb(173, 129, 86);
}
