body {
    text-align: center;
    background-color: rgb(21, 21, 21);
    letter-spacing: 4px;
    margin: auto;
}

.click_pics {
    width: 30%;
    height: auto;
    margin: auto;
}

.click_pics:hover {
    cursor: pointer;
}

.main_headers {
    font-family: "madlove2regular";
    font-size: 5em;
    color: rgb(173, 129, 86);
    font-weight: 200;
    margin: auto;
}

.side_headers {
    font-family: "madlove2regular";
    font-size: 4em;
    color: rgb(173, 129, 86);
    font-weight: 200;
    margin: auto;
    padding-top: 0.5em;
}

#gallery_container {
    width: 85%;
    height: 100%;
    margin: auto;
}

#img_container {
    height: auto;
    width: 1000px;
    margin: auto;
    padding-top: 3em;
}

.gallery_pics {
    padding: 0.3em;
}

.small_text {
    font-family: "Goudy Bookletter 1911";
    font-size: 1em;
    color: rgb(225, 213, 186);
}

.big_text {
    font-family: "madlove2regular";
    font-size: 2.2em;
    font-weight: 200;
    color: rgb(173, 129, 86);
}

@media all and (max-width: 1175px) {
    .gallery_pics {
    padding-top: 0.75em;
    padding-bottom:  0.75em;
    padding-right: 0.75em;
    padding-left: 0.75em;
}
    #img_container {
        width: 750px;
    }
}
@media all and (max-width: 900px) {
    .gallery_pics {
    padding-top: 1em;
    padding-bottom:  1em;
    padding-right: 1em;
    padding-left: 1em;
}
    #img_container {
        width: 600px;
    }
}
@media all and (max-width: 700px) {
    .gallery_pics {
    padding-top: 1em;
    padding-bottom:  1em;
}
    #img_container {
        width: 450px;
    }
}
@media all and (max-width: 500px) {
    .gallery_pics {
    padding-top: 0.5em;
    padding-bottom:  0.5em;
}
    #img_container {
        width: 100px;
    }
}
