/*  Font: "https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap"
    Color 1: rgb(174, 131, 87)
    Color 2: rgb(238, 218, 182)
*/

/*---------====================================MEDIA QUERY: MOBILE====================================================----------------*/

#background_pic {
    width: 50%;
    height: 100%;
}

#background_div {
    position: fixed;
    height: 100%;
    margin-left: 0;
    margin-top: 0;
}

#blackbox {
    background-color: black;
    height: 19em;
    width: 32em;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2em;
    padding: 1em;
}

#coming_soon {
    width: 25em;
    height: auto;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
}

#container {
    text-align: center;
    width: 100%;
}

#logo_div {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 1em;
}

#logo_pic {
    height: 15em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#text {
    color: rgb(174, 131, 87);
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
}

p {
    color: rgb(238, 218, 182);
    font-size: 1em;
    margin-bottom: 0.25em;
}

body {
    background-color: rgb(174, 131, 87);
    font-family: "Goudy Bookletter 1911", serif;
}

#text_box {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

#socials {
    height: auto;
    width: 100%;
}

#social1 {
    height: 2.5em;
    margin-right: 1.5em;
}

#social2 {
    height: 2.5em;
}

@media all and (max-width: 1080px) {
    #blackbox {
        width: 70%;
        height: auto;
    }

    #coming_soon {
        width: 55%;
        height: auto;
    }


    #social1 {
        margin-top: 0.6em;
  
    }

    #social2 {
        margin-top: 0.6em;

    }


}

    @media all and (max-width: 700px) {
        #blackbox {
            width: 60%;
            height: auto;
        }
        #text {
            font-size: 1.25em;
        }
        
    }

@media all and (max-width: 480px) {
            #blackbox {
            width: 75%;
            height: auto;
        }
}
