/*  dark color: rgb(29, 30, 29)
    brown color: rgb(175, 140, 101)
    light color: rgb(228, 216, 190)
    lavender color: rgb(220, 213, 228)
    dark lavender color: rgb(97, 58, 137)
    font: <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
*/

a {
    color: rgb(203, 183, 224);
    text-decoration: none;
    display: inline-block;
}

a:active {
    color: rgb(97, 58, 137);
}

body {
    background-color: rgb(29, 30, 29);
    color: white;
    text-align: center;
    font-family: "Old Standard TT", serif;
}

footer p {
    flex: 1;
}

h1 {
    color: rgb(175, 140, 101);
    text-transform: uppercase;
    text-align: center;
}
h3 {
    color: rgb(228, 216, 190);
}
img {
    max-width: 100%;
}

p {
    color: rgb(228, 216, 190);
}

#entertainment {
    margin-top: 4em;
}
#food {
    margin-top: 4em;
}

#div2 {
    margin-right: 5em;
    margin-left: 5em;
}
#contact {
    margin-top: 6em;
    display: flex;
}
#main-logo {
    margin-top: 2em;
    width: 50em;
}
#nav-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}
#side-logo {
    width: 10%;
    display: block;
    position: fixed;
    margin-top: 3em;
    margin-left: 0;
}

.alt-color {
    color: rgb(175, 140, 101);
}

.nav {
    flex: 1;
}

.sections {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.show-grid {
    display: flex;
}

.shows {
    flex: 1;
}
.socials img {
    width: 2em;
    margin: 0.5em;
    margin-top: 1em;
}
/*----------------------------------------------MEDIA QUERIES: TABLET------------------------------------------------------------------------*/
@media all and (max-width: 1000px) {
    #contact {
        flex-wrap: wrap;
    }

    footer p {
        flex-basis: 100%;
    }

    .show-grid {
        flex-wrap: wrap;
    }
    .shows {
        flex: 1 1 50%;
    }

    /*----------------------------------------------MEDIA QUERIES: MOBILE------------------------------------------------------------------------*/

    @media all and (max-width: 480px) {
        body {
            background-color: rgb(29, 30, 29);
            color: white;
        }

        #container {
            margin-left: 1em;
            margin-right: 1em;
        }

        #nav-div {
            display: flex;
            flex-wrap: wrap;
        }

        h1 {
            color: rgb(175, 140, 101);
        }

        h3 {
            color: rgb(228, 216, 190);
        }

        .nav {
            flex-basis: 100%;
        }

        .shows {
            flex-basis: 100%;
        }
    }
}
