#main_div {
    text-align: center;
    margin: auto;
}

#4_button {
    padding-top: 10em;
}

.first_impact, .second_impact {
    margin: 1em 0em 1em 0em;
}

.button {
    margin-bottom: 1.5em;
}