/*  Font: "https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap"
    Color 1: rgb(174, 131, 87)
    Color 2: rgb(238, 218, 182)
*/
/*--------------------------------------------------------------- ID --------------------------------------------------------------------*/
#background_div {
    background-image: url(../img/BackgroundImage_left_alt.jpg);
    position: fixed;
    height: 100%;
    width: 50%;
    margin-left: 0;
    margin-top: 0;
}

#blackbox {
    background-color: black;
    height: 19em;
    width: 37%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    padding: 1em;
}

#coming_soon {
    width: 25em;
    height: auto;
    padding: 0em;
    margin-right: auto;
    margin-left: auto;
}

#facebook {
    height: 2.5em;
    margin-right: 1.5em;
}

#instagram {
    height: 2.5em;
}

#logo_pic {
    height: 17em;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#main_div {
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 0.5em;
}

#socials {
    height: auto;
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#text {
    color: rgb(174, 131, 87);
    margin-right: auto;
    margin-left: auto;
    font-size: 1.5em;
}

#text_box {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
}

.socials {
}

/*--------------------------------------------------------------- Element ------------------------------------------------------------------*/

body {
    background-color: rgb(174, 131, 87);
    font-family: "Goudy Bookletter 1911", serif;
}

p {
    color: rgb(238, 218, 182);
    font-size: 1em;
    margin-bottom: 0.25em;
}

/*---------====================================MEDIA QUERY: TABLET====================================================----------------*/

@media all and (max-width: 1080px) {
    #background_div {
        background-image: url(../img/BackgroundImage_cropped_alt.png);
    }
    #blackbox {
        width: 50%;
        height: 17em;
        margin-right: auto;
        margin-left: auto;
    }

    #coming-soon {
        width: 100%;
        height: auto;
    }

    #facebook {
        margin-top: 0.5em;
    }

    #instagram {
        margin-top: 0.5em;
    }

    #logo_pic {
        height: 5em;
    }
    #text {
        font-size: 1.25em;
    }
    p {
        font-size: 0.75em;
    }
}

/*---------====================================MEDIA QUERY: MOBILE====================================================----------------*/

@media all and (max-width: 750px) {
    #blackbox {
        width: 85%;
        height: 17em;
    }

    #logo_pic {
        height: 17em;
    }

    #text {
        font-size: 1.3em;
    }
    #text-box {
        width: 90%;
    }
}

/*---------====================================MEDIA QUERY: MOBILE====================================================----------------*/

@media all and (max-width: 500px) {
    #logo_pic {
        height: 13em;
    }
}
