body {
    background-color: black;
    color: white;
}

#heading {
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
}

#menu-div {
    top: 0;
    right: 0;
    position: fixed;
    font-size: 18px;
}

#div1 {
    text-align: left;
}

#div2 {
    text-align: center;
    margin-top: 50px;
}
#div3 {
    text-align: center;
}
.menu {
    float: left;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

.container {
    min-height: 100vh;
}
img {
    margin-top: 15px;
    margin-bottom: 15px;
}
.sections {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sections h1 {
    margin-top: 100px;
}
