 /*==============================================================================================================================================
                                                            MAIN DESIGN
==============================================================================================================================================*/
#body {
    background: RGB(61, 161, 110);
}
#resetButton {
    position: fixed;
    top: 0;
    left: 0;
}
.input {
    align-content:  center;
    margin-bottom: 10px;
    background-color: RGB(192, 237, 214);
    padding: 5px;
    border-radius: 5px;
}
.button {
    align-content:  center;
    background-color: RGB(247, 253, 205);
    color: RGB(33,142,87);
    padding: 10px;
    margin: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.header {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
    font-weight: bold;
    position: relative;
    text-align: center;
    margin: 20px;
    font-size: 1.5em;
    background-color: RGB(176, 232, 118);
    padding-bottom 5px;
    border-radius: 10px;
}
.body-div {
    text-align: center;
    background-color: RGB(140, 214, 177);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.answer-div {
    text-align: center;
    background-color: RGB(61, 161, 110);
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
}
.button:hover {
    color: RGB(204, 224, 84);
}
.button:active {
    color: RGB(176, 197, 46);
}


/*==============================================================================================================================================
                                                            MEDIA QUERIES
==============================================================================================================================================*/
@media (min-width: 769px) {
    #header {
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 2em;
    }
    #resetButton {
        order: -1;
        position: absolute;
        left: 0;
        top: 0;
    }
    #button {
        margin-bottom: 0px;
    }
    .input {
        margin-top: .5em;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
        height: 1.5em;
    }
    .answer-div {
        font-size: 1.25em;
    }
}
